/* button-filter */
.button{
    background-color:#F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    font-family: inherit;
}
.button:hover, 
.button:focus{
    background-color:var(--akcent-color);
    color: #FFFFFF;

}
/* projects */
.projects-title{
    color: var(--title-text-color);
    font-weight: 700;   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-types{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;

}
.projects-comments{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;

    
}